<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>PatientUniversal</title></head><body>
<h1>PatientUniversal (COCD_TP145201GB01)</h1>
<p>Date: 2011-06-10 14:25:53</p>
<map name="rmim0">

<area href="COCD_TP145201GB01-NoEdit.htm#PatientRole" coords="10, 183, 317, 271" shape="rect"/>

<area href="COCD_TP145201GB01-NoEdit.htm#Patient" coords="0, 322, 331, 423" shape="rect"/>

<area href="COCD_TP145201GB01-NoEdit.htm#LanguageCommunication" coords="432, 394, 764, 508" shape="rect"/>

<area href="COCD_TP145201GB01-NoEdit.htm#Organization" coords="9, 4, 575, 143" shape="rect"/>

<area href="COCD_TP145201GB01-NoEdit.htm#" coords="331, 475, 432, 373" shape="rect"/>

<area href="COCD_TP145201GB01-NoEdit.htm" coords="317, 211, 789, 254" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145201GB01.png" usemap="#rmim0"/>
</body>
</html>
