<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>AuthorPersonUniversal</title></head><body>
<h1>AuthorPersonUniversal (COCD_TP145200GB01)</h1>
<p>Date: 2011-05-16 14:25:09</p>
<map name="rmim0">

<area href="COCD_TP145200GB01-NoEdit.htm#AssignedAuthor" coords="398, 89, 735, 190" shape="rect"/>

<area href="COCD_TP145200GB01-NoEdit.htm#Person" coords="471, 244, 805, 328" shape="rect"/>

<area href="COCD_TP145200GB01-NoEdit.htm#Organization" coords="0, 208, 442, 314" shape="rect"/>

<area href="COCD_TP145200GB01-NoEdit.htm" coords="463, -3, 670, 84" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145200GB01.png" usemap="#rmim0"/>
</body>
</html>
