<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>PersonWithOrganizationUniversal</title></head><body>
<h1>PersonWithOrganizationUniversal (COCD_TP145210GB01)</h1>
<p>Date: 2011-05-16 14:25:25</p>
<map name="rmim0">

<area href="COCD_TP145210GB01-NoEdit.htm#AssignedEntity" coords="172, 94, 498, 199" shape="rect"/>

<area href="COCD_TP145210GB01-NoEdit.htm#Person" coords="388, 237, 716, 314" shape="rect"/>

<area href="COCD_TP145210GB01-NoEdit.htm#Organization" coords="0, 229, 335, 326" shape="rect"/>

<area href="COCD_TP145210GB01-NoEdit.htm" coords="178, -3, 473, 89" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145210GB01.png" usemap="#rmim0"/>
</body>
</html>
