<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>EncompassingEncounter</title>
      
   </head>
   
   <body>
      
      <h1>EncompassingEncounter (COCD_TP146232GB01)</h1>
      
      <p>Date: 2012-01-27 15:00:36</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146232GB01-NoEdit.htm#EncompassingEncounter/encounterParticipant" coords="438, 196, 826, 263" shape="rect"></area>
         
         <area href="COCD_TP146232GB01-NoEdit.htm#EncompassingEncounter/location" coords="131, 276, 411, 384" shape="rect"></area>
         
         <area href="COCD_TP146232GB01-NoEdit.htm#EncompassingEncounter" coords="74, 104, 438, 276" shape="rect"></area>
         
         <area href="COCD_TP146232GB01-NoEdit.htm#EncompassingEncounter/responsibleParty" coords="438, 102, 817, 157" shape="rect"></area>
         
         <area xmlns="" href="../Document%20files/NPFIT-000088_Role.htm" coords="829, 122, 965, 163" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000099_Role.htm" coords="207, 408, 371, 456" shape="rect">
         
         <area xmlns="" href="../Document%20files/NPFIT-000089_Role.htm" coords="838, 217, 974, 265" shape="rect">
         
         <area href="COCD_TP146232GB01-NoEdit.htm" coords="174, -3, 342, 100" shape="rect"></area></map> <img border="0" src="images/COCD_TP146232GB01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>