<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>IncidentalHealthCareFacilityUniversal</title></head><body>
<h1>IncidentalHealthCareFacilityUniversal (COCD_TP145222GB02)</h1>
<p>Date: 2012-03-15 11:23:09</p>
<map name="rmim0">

<area href="COCD_TP145222GB02-NoEdit.htm#HealthCareFacility" coords="0, 126, 403, 209" shape="rect"/>

<area href="COCD_TP145222GB02-NoEdit.htm#Place" coords="307, 271, 614, 358" shape="rect"/>

<area href="COCD_TP145222GB02-NoEdit.htm" coords="63, -3, 337, 121" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145222GB02.png" usemap="#rmim0"/>
</body>
</html>
