<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>AuthorDeviceUniversal Tabular View</title><script language="JavaScript1.2">
				
var isNew=0;
var isNS4=0;
var isIE4=0;

var brow=((navigator.appName) + (parseInt(navigator.appVersion)));

//alert(brow);
if (parseInt(navigator.appVersion)>=5)
{
	isNew=1
}
else
{
	if(brow=="Netscape4")
	{
		isNS4=1;
		document.captureEvents(Event.ONMOUSEOVER);
	}
	else
	{
		if(brow=="Microsoft Internet Explorer4")
		{
			isIE4=1;
		}
	}
		
}

// thats ok


if(isNS4||isIE4||isNew)
{
	docObj=(isNS4) ? 'document' : 'document.all';
	
	styleObj=(isNS4) ? ' ' : '.style';
}

function checkDOM(elementName)
{
	if(isNS4||isIE4||isNew)
	{
		dom=eval(docObj + '.' + elementName + styleObj);
		//alert('This browser uses the ' + dom + 'Document Object Model.');
		dom.left =0;
		dom.top =0;
	}
}

function popUp(evt,currElem)
{

	if((isNS4 && currElem !=0) || (isIE4 && currElem !=0))
	{
		dom =eval(docObj +'.' +currElem+styleObj);
		state=dom.visibility;
		if ((state == "visible") || (state=="show"))
		{
			dom.visibility="hidden";
		}
		else
		{
			if(isNS4)
			{
				topVal=eval(evt.pageY);
				leftVal=eval(evt.pageX);
				/*if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}*/

			}
			if(isIE4)
			{
				topVal=eval(event.clientY)  + document.body.scrollTop+20;
				leftVal=eval(event.clientX) + document.body.scrollLeft;
				
				if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}
			}
			if(leftVal < 2)
			{
				leftVal=2;
			}
			dom.top=topVal;
			dom.left=leftVal;
			dom.visibility="visible";
		}
	}
}

</script><style>
#ds
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}
#cwe
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#cne
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#maindiv {
	overflow: auto; 
	width: 100%; 
	height: 90%; 
	}


.hypertext
{
	position: absolute;
	background-color: white;
	layer-background-colour: cornflowerblue;
	padding: 3px;
	border: 3px solid blue;
	width: 150px;
	font:normal 10pt/13pt helvetica, sans-serif;
	text-align: left;
	color: blue;
}

.actclass
{
	background-color: red;
}

.entclass
{
	background-color: lightgreen;;
}

.roleclass
{
	background-color: yellow;;
}
.otherclass
{
	background-color: blue;
}
.choiceclass
{
	background-color: gray;
}
.actrelclass
{
	background-color: pink;
}
.partclass
{
	background-color: cyan;
}
.rolelinkclass
{
	background-color: lightyellow;
}
TABLE {
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid black;
	border-width: 3px 1px;
}
.part td
{
	border-width: 2px 1px;
	border-color: gray;
	border-style: solid;
}
.class td
{
	border-width: 3px 1px;
	border-color: black;
	border-style: solid;
}


</style></head>
   <body onload="checkDOM('ds')">
      <h1>AuthorDeviceUniversal - tabular view</h1><span id="ds" class="hypertext">No Current Link To Vocabulary</span><span id="cwe" class="hypertext">Coded With Extensions</span><span id="cne" class="hypertext">Coded No Extensions</span><table frame="vsides" rules="cols" cellpadding="2" cellspacing="0">
         <tr class="class">
            <td height="35"><a href="COCD_TP145207GB01.htm"><b>COCD_TP145207GB01</b></a></td>
            <td height="35" nowrap="yes"></td>
         </tr>
         <tr valign="top" class="class">
            <td class="roleclass"><a name="AssignedAuthorDevice"><b>AssignedAuthorDevice</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <p>
                        <b>This template is used to identify an authoring device or system where SDS is not appropriate or available</b>.                   
                     </p>
                     
                     <p>
                        <b>The   organisation which owns or is responsible for the device or system will   be identified using the organisation's   
                           ODS (NACS) code.</b>
                        
                     </p>
                     
                     <p>
                        <b>An authoring device is normally described as a device that has processed some information and created an output without human
                           involvement. </b>
                        <br>
                        
                     </p>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr class="mif">
            <td align="right" width="50%"></td>
            <td><font color="gray">Used by: </font><a href="#"><b></b></a></td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>RoleClass</b></a> } )<br> {<b> Fixed="<font color="red">ASSIGNED</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>classCode</b> describes this class as an assigned role.                 					 An assigned role is a type of agent in which, the player
                     is a person employed by a scoping organisation.                                      
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance </b>
                        </u>
                     <br>
                     
                     
                  </p> The XML attribute <b>classCode</b> is fixed to "<font color="#ff0000">
                     <b>ASSIGNED</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..*] </b></font><font color="green"><b> [R] </b></font><b>id</b> (<a href="../../../Data Types/DataTypes.htm#SET"><b>SET</b></a><b>&lt;<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>&gt;</b>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div contenteditable="false" style="height: 100%; width: 100%">
                        
                        <p>
                           <u>
                              <b>Model Attribute Description  </b>
                              </u>
                           <br>
                           
                        </p>
                        
                        <p>The HL7 attribute <b>id</b> uses one or more identifier(s) including local identifiers to identify the device.                                      
                           
                        </p>
                        
                        <p>
                           <u>
                              <b>Implementation in XML Instance </b>
                              </u>
                           
                        </p>The local identifier where the code system can be identified using an OID then the XML element <b>id</b> shall carry the identifiers as follows:<br>
                        
                        <blockquote>
                           
                           <ul>
                              
                              <li>The XML attribute <b>root</b> shall contain the OID for the identifying system.                                                     
                              </li>
                              
                              <li>The XML attribute <b>extension</b> shall contain the device's identifier.                                                     
                              </li>
                              
                           </ul>
                           
                        </blockquote>
                        
                        <p>When using alternative identifiers where the code system can not be identified using an OID then the XML element <b>id</b> shall carry the identifiers as follows:<br>
                           
                        </p>
                        
                        <blockquote>
                           
                           <ul>
                              
                              
                              <li>The XML attribute <b>root</b> shall contain the OID "<font color="#ff0000">
                                    <b>2.16.840.1.113883.2.1.3.2.4.18.36</b>
                                    </font>".                                                     
                              </li>
                              
                              <li>The XML attribute <b>extension</b> shall contain the device's identifier.                                                     
                              </li>
                              
                              <li>The XML attribute <b>assignedAuthorityName</b> shall contain the assigning organisation in the format of ODSCode:ODSName, for example:                                 
                                 
                              </li>
                              
                           </ul>
                           <b>assigningAuthorityName</b>="RA9:SOUTH DEVON HEALTHCARE NHS TRUST"                                           
                        </blockquote>
                        
                        
                        <p>Where no identifier is available then the XML attribute <b>nullFlavor</b> of the XML element <b>id</b> shall contain "<font color="#ff0000">
                              <b>NI</b>
                              </font>".                                          
                        </p>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP145207GB01#AssignedAuthorDevice</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div contenteditable="false" style="height: 100%; width: 100%">
                        <u>
                           <b>Model Attribute Description</b>
                           </u>
                        <br>
                        <br>The HL7 attribute <b>templateId</b> provides a unique identifier for the template and the class name within that template. This is used to identify how the CDA
                        standard has been constrained for NHS use.<br>
                        <br>
                        <u>
                           <b>Implementation in XML Instance</b>
                           </u>
                        <br>
                        <br>The <b>Identifier External </b>data type flavour is used to carry this information in the XML element <b>templateId</b> as follows:<br>
                        
                        <ul>
                           
                           
                           <li>The XML attribute <b>root</b> is fixed to the OID "<font color="#ff0000">
                                 <b>2.16.840.1.113883.2.1.3.2.4.18.2</b>
                                 </font>"                                               
                           </li>
                           
                           
                           <li>The XML attribute <b>extension</b> is fixed to "<font color="#ff0000">
                                 <b>COCD_TP145207GB01#AssignedAuthorDevice</b>
                                 </font>
                              <b>
                                 <span class="redText"></span>
                                 </b>"                                               
                           </li>
                           
                        </ul>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b><a id="AssignedAuthorDevice/assignedAuthoringDevice"></a>assignedAuthoringDevice</b> (<a href="#AuthoringDevice"><b>AuthoringDevice</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">A link to the authoring device which is playing this role.</div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b><a id="AssignedAuthorDevice/representedOrganization"></a>representedOrganization</b> (<a href="#Organization"><b>Organization</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">A link to the optional organisation which owns or is responsible for the device.</div>
            </td>
         </tr>
         <tr valign="top" class="class">
            <td class="entclass"><a name="AuthoringDevice"><b>AuthoringDevice</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <b>A class which details the device which authored the information.</b>
                     
                  </p>
                  <b>Note: the term device also applies to software systems. </b>
                  
               </div>
            </td>
         </tr>
         <tr class="mif">
            <td align="right" width="50%"></td>
            <td><font color="gray">Used by: </font><a href="#AssignedAuthorDevice"><b>AssignedAuthorDevice</b></a></td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityClass</b></a> } )<br> {<b> Fixed="<font color="red">DEV</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>classCode</b> describes this class as a device.                                      
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance  </b>
                        </u>
                     <br>
                     
                     
                  </p>The XML attribute <b>classCode</b> is fixed to "<font color="#ff0000">
                     <b>DEV</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>determinerCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityDeterminer</b></a> } )<br> {<b> Fixed="<font color="red">INSTANCE</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>determinerCode</b> describes this class as an instance of a device.                                      
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance  </b>
                        </u>
                     <br>
                     
                     
                  </p>The XML attribute <b>determinerCode</b> is fixed to "<font color="#ff0000">
                     <b>INSTANCE</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [R] </b></font><b>manufacturerModelName</b> (<a href="../../../Data Types/DataTypes.htm#SC"><b>SC</b></a> {<a onmouseout="popUp(event,'cwe')" onmouseover="popUp(event,'cwe')"><b>CWE</b></a>:<a target="_top"><b>ManufacturerModelName</b></a> } )
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description   </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>manufacturedModelName</b>  uses a character string that optionally may have a code attached, this  combination is used to describe the manufacture's
                     name and / or model for the device or  system. The  text must  always be present if a code is present. The HL7 vocabulary
                     <b>ManufacturedModelName</b>                                contains no codes. Therefore local codes  should be used  when  coding is required.      
                     
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance   </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The XML element <b>manufacturedModelName </b>is used to describe the devices manufacture's name and / or model and is populated as shown below:                       
                     
                  </p>
                  
                  <ul>
                     
                     <li>The XML element <b>manufacturedModelName</b> shall contain a text string which describes the manufacture's name and / or model                            
                     </li>
                     
                     <li>The XML attribute <b>code</b> may contain a code from any local vocabulary which describes the manufacture's name and / or model, When the code is used
                        then:                            
                     </li>
                     
                     <ul>
                        
                        <li>The XML attribute <b>codeSystem</b> shall contain the OID of the alternative vocabulary                               
                        </li>
                        
                        <li>The XML attribute <b>displayName</b> shall contain the description associated with the XML attribute <b>code</b>
                           
                        </li>
                        
                     </ul>
                     
                  </ul>
                  
                  <p>When no OID is available for the local vocabualry then:</p>
                  
                  <ul>
                     
                     <li>The XML attribute <b>code</b> may contain a code from any local vocabulary which describes the manufacture's name and / or model, When the code is used
                        then:                                                        
                     </li>
                     
                     <ul>
                        
                        <li>The XML attribute <b>codeSystem</b> shall contain the OID "<b>
                              <font color="#ff0000">2.16.840.1.113883.2.1.3.2.4.17.405</font>
                              </b>"<br>
                           
                        </li>
                        
                        <li>The XML attribute <b>displayName</b> shall contain the description associated with the XML attribute <b>code</b>
                           
                        </li>
                        
                     </ul>
                     
                  </ul>
                  
                  <p></p>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [R] </b></font><b>softwareName</b> (<a href="../../../Data Types/DataTypes.htm#SC"><b>SC</b></a> {<a onmouseout="popUp(event,'cwe')" onmouseover="popUp(event,'cwe')"><b>CWE</b></a>:<a target="_top"><b>SoftwareName</b></a> } )
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <p>
                        <u>
                           <b>Model Attribute Description   </b>
                           </u>
                        <br>
                        
                     </p>
                     
                     <p>The HL7 attribute <b>softwareName</b>  uses a  character string that optionally may have a code attached, this   combination is used to describe the software installed
                        / running on the device or system. The  text must   always be present if a code is  present.  The HL7 vocabulary <b>SoftwareName</b>                                contains no codes. Therefore local codes  should be used  when coding is  required.      
                        
                     </p>
                     
                     <p>
                        <u>
                           <b>Implementation in XML Instance   </b>
                           </u>
                        <br>
                        
                     </p>
                     
                     <p>The XML element <b>softwareName </b>is used to describe the device's software and is populated as shown below:                   
                     </p>
                     
                     <ul>
                        
                        <li>The XML element <b>softwareName</b> shall contain a text string which describes the software<br>
                           
                        </li>
                        
                        <li>The XML attribute <b>code</b> may contain a code from any local vocabulary which describes the software, When the code is used then:                  
                           
                        </li>
                        
                        <ul>
                           
                           <li>The XML attribute <b>codeSystem</b> shall contain the OID of the alternative vocabulary                         
                           </li>
                           
                           <li>The XML attribute <b>displayName</b> shall contain the description associated with the XML attribute <b>code</b>
                              
                           </li>
                           
                        </ul>
                        
                     </ul>
                     
                     <p>When no OID is available for the local vocabulary then:</p>
                     
                     <ul>
                        
                        <li>The XML attribute <b>code</b> may contain a code from any local vocabulary which describes the software, When the code is used then:                  
                           
                        </li>
                        
                        <ul>
                           
                           
                           <li>The XML attribute <b>codeSystem</b> shall contain the OID "<font color="#ff0000">
                                 <b>2.16.840.1.113883.2.1.3.2.4.17.406</b>
                                 </font>"<br>
                              
                           </li>
                           
                           <li>The XML attribute <b>displayName</b> shall contain the description associated with the XML attribute <b>code</b>
                              
                           </li>
                           
                        </ul>
                        
                     </ul>
                     
                     <p></p>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP145207GB01#assignedAuthoringDevice</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div contenteditable="false" style="height: 100%; width: 100%">
                        <u>
                           <b>Model Attribute Description</b>
                           </u>
                        <br>
                        <br>The HL7 attribute <b>templateId</b>  provides a unique identifier for the template and the class name within  that template. This is used to identify how the
                        CDA                       standard has been constrained for NHS use.<br>
                        <br>
                        <u>
                           <b>Implementation in XML Instance</b>
                           </u>
                        <br>
                        <br>The <b>Identifier External </b>data type flavour is used to carry this information in the XML element <b>templateId</b> as follows:<br>
                        
                        <ul>
                           
                           
                           <li>The XML attribute <b>root</b> is fixed to the OID "<font color="#ff0000">
                                 <b>2.16.840.1.113883.2.1.3.2.4.18.2</b>
                                 </font>"                                               
                           </li>
                           
                           
                           <li>The XML attribute <b>extension</b> is fixed to "<font color="#ff0000">
                                 <b>COCD_TP145207GB01#assignedAuthoringDevice</b>
                                 </font>
                              <b>
                                 <span class="redText"></span>
                                 </b>"                                               
                           </li>
                           
                        </ul>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="class">
            <td class="entclass"><a name="Organization"><b>Organization</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <b>This class details the organisation which scopes the device (the organisation which owns or is responsible for the device).</b>
                     
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr class="mif">
            <td align="right" width="50%"></td>
            <td><font color="gray">Used by: </font><a href="#AssignedAuthorDevice"><b>AssignedAuthorDevice</b></a></td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityClass</b></a> } )<br> {<b> Fixed="<font color="red">ORG</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>classCode</b> describes this class as an organisation.
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The XML attribute <b>classCode</b> is fixed to "<b>
                        <font color="#ff0000">ORG</font>
                        </b>".<br>
                     
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>determinerCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityDeterminer</b></a> } )<br> {<b> Fixed="<font color="red">INSTANCE</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>determinerCode</b> describes this class as an instance of an organisation.
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The XML attribute <b>determinerCode</b> is fixed to "<font color="#ff0000">
                        <b>INSTANCE</b>
                        </font>". <br>
                     
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>id</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description   </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute<b> id</b> uses an ODS code as an identifier that uniquely identifies the organisation which owns or is responsible for the device.
                     The ODS code should identify the organisation at either the site level or organisation level. Where possible the organisation
                     should be identified at the site level. ODS codes were formerly known as NACS codes.
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance   </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>When ODS site code is used then the XML element <b>id </b>is populated in the following way:
                  </p>
                  
                  <ul>
                     
                     
                     <li>The XML attribute <b>root</b> shall contain an OID with the value "<font color="#ff0000">
                           <b>2.16.840.1.113883.2.1.3.2.4.19.2</b>
                           </font>"
                     </li>
                     
                     <li>The XML attribute <b>extension</b> shall contain the ODS site code.
                     </li>
                     
                  </ul>
                  
                  <p>When ODS organisation code is used then the XML element <b>id </b>is populated in the following way:<br>
                     
                  </p>
                  
                  <ul>
                     
                     
                     <li>The XML attribute <b>root</b> shall contain an OID with the value "<font color="#ff0000">
                           <b>2.16.840.1.113883.2.1.3.2.4.19.1</b>
                           </font>"
                     </li>
                     
                     <li>The XML attribute <b>extension</b> shall contain the ODS organisation code.
                     </li>
                     
                  </ul>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>name</b> (<a href="../../../Data Types/DataTypes.htm#ON"><b>ON</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>name</b> uses the description of the organisation associated with the ODS code.
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <div>The XML element <b>name</b> will carry the description associated with the ODS code carried in the XML attribute <b>extension</b>  of the XML element <b>id</b>.
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP145207GB01#representedOrganization</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div>
                     
                     <p>
                        <u>
                           <b>Model Attribute Description</b>
                           </u>
                        <br>
                        <br> The HL7 attribute <b>templateId</b> provides a unique identifier for the template and the class name within that template. This is used to identify how the CDA
                        standard has been constrained for NHS use.
                     </p>
                     
                     <p>
                        <u>
                           <b>Implementation in XML Instance </b>
                           </u>
                        <br>
                        
                     </p>
                     
                     <p>The <b>Identifier External </b>data type flavour is used to carry this information in the XML element <b>templateId</b> as follows:
                     </p>
                     
                     <ul>
                        
                        
                        <li>The XML attribute <b>root</b>  is fixed to the OID "<font color="#ff0000">
                              <b>2.16.840.1.113883.2.1.3.2.4.18.2</b>
                              </font>"
                        </li>
                        
                        <li>The XML attribute <b>extension</b> is fixed to "<b>
                              <font color="#ff0000">COCD_TP145207GB01#representedOrganization</font>
                              </b>".
                        </li>
                        
                     </ul>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>