<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>PersonWithOrganizationUniversal</title>
      
   </head>
   
   <body>
      
      <h1>PersonWithOrganizationUniversal (COCD_TP145210GB01)</h1>
      
      <p>Date: 2012-01-27 15:00:29</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145210GB01-NoEdit.htm#AssignedEntity" coords="172, 94, 498, 199" shape="rect"></area>
         
         <area href="COCD_TP145210GB01-NoEdit.htm#Person" coords="388, 237, 716, 314" shape="rect"></area>
         
         <area href="COCD_TP145210GB01-NoEdit.htm#Organization" coords="0, 229, 335, 326" shape="rect"></area>
         
         <area href="COCD_TP145210GB01-NoEdit.htm" coords="178, -3, 473, 89" shape="rect"></area></map> <img border="0" src="images/COCD_TP145210GB01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>