<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      
      <title>RecipientWorkgroupSDS</title>
      
   </head>
   
   <body>
      
      <h1>RecipientWorkgroupSDS (COCD_TP145029UK02)</h1>
      
      <p>Date: 2011-05-24 13:58:46</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145029UK02-NoEdit.htm#Organization" coords="0, 263, 272, 364" shape="rect"></area>
         
         <area href="COCD_TP145029UK02-NoEdit.htm#RecipientWorkgroupSDS" coords="257, 91, 592, 206" shape="rect"></area>
         
         <area href="COCD_TP145029UK02-NoEdit.htm#Person" coords="444, 279, 764, 354" shape="rect"></area>
         
         <area href="COCD_TP145029UK02-NoEdit.htm" coords="319, -3, 515, 86" shape="rect"></area></map> <img border="0" src="images/COCD_TP145029UK02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>