<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>AuthorDeviceUniversal</title>
      
   </head>
   
   <body>
      
      <h1>AuthorDeviceUniversal (COCD_TP145207GB01)</h1>
      
      <p>Date: 2012-01-27 15:00:28</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145207GB01-NoEdit.htm#AssignedAuthorDevice" coords="119, 89, 493, 151" shape="rect"></area>
         
         <area href="COCD_TP145207GB01-NoEdit.htm#Organization" coords="0, 208, 345, 309" shape="rect"></area>
         
         <area href="COCD_TP145207GB01-NoEdit.htm#AuthoringDevice" coords="469, 209, 924, 310" shape="rect"></area>
         
         <area href="COCD_TP145207GB01-NoEdit.htm" coords="199, -3, 417, 84" shape="rect"></area></map> <img border="0" src="images/COCD_TP145207GB01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>