<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>HealthCareFacilityUniversal</title></head><body>
<h1>HealthCareFacilityUniversal (COCD_TP145211GB01)</h1>
<p>Date: 2011-05-16 14:25:27</p>
<map name="rmim0">

<area href="COCD_TP145211GB01-NoEdit.htm#HealthCareFacility" coords="297, 126, 700, 209" shape="rect"/>

<area href="COCD_TP145211GB01-NoEdit.htm#Organization" coords="0, 270, 345, 376" shape="rect"/>

<area href="COCD_TP145211GB01-NoEdit.htm#Place" coords="604, 271, 911, 358" shape="rect"/>

<area href="COCD_TP145211GB01-NoEdit.htm" coords="360, -3, 634, 121" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145211GB01.png" usemap="#rmim0"/>
</body>
</html>
