<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      
      <title>RecipientWorkgroupUniversal</title>
      
   </head>
   
   <body>
      
      <h1>RecipientWorkgroupUniversal (COCD_TP145204GB02)</h1>
      
      <p>Date: 2011-05-24 13:59:00</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145204GB02-NoEdit.htm#Organization" coords="0, 263, 335, 364" shape="rect"></area>
         
         <area href="COCD_TP145204GB02-NoEdit.htm#RecipientWorkgroup" coords="268, 96, 623, 206" shape="rect"></area>
         
         <area href="COCD_TP145204GB02-NoEdit.htm#Person" coords="453, 280, 773, 355" shape="rect"></area>
         
         <area href="COCD_TP145204GB02-NoEdit.htm" coords="328, -3, 527, 91" shape="rect"></area></map> <img border="0" src="images/COCD_TP145204GB02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>