<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Consent</title>
      
   </head>
   
   <body>
      
      <h1>Consent (COCD_TP146226GB02)</h1>
      
      <p>Date: 2012-02-01 11:33:12</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146226GB02-NoEdit.htm#Consent" coords="0, 127, 283, 241" shape="rect"></area>
         
         <area href="COCD_TP146226GB02-NoEdit.htm" coords="84, -3, 208, 122" shape="rect"></area></map> <img border="0" src="images/COCD_TP146226GB02.png" usemap="#rmim0"></img>
      
   </body>
   
</html>