<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
<title>CustodianOrganizationUniversal</title></head><body>
<h1>CustodianOrganizationUniversal (COCD_TP145018UK03)</h1>
<p>Date: 2011-03-09 12:37:15</p>
<map name="rmim0">

<area href="COCD_TP145018UK03-NoEdit.htm#AssignedCustodian" coords="0, 94, 328, 151" shape="rect"/>

<area href="COCD_TP145018UK03-NoEdit.htm#CustodianOrganization" coords="79, 177, 399, 277" shape="rect"/>

<area href="COCD_TP145018UK03-NoEdit.htm" coords="11, -3, 225, 89" shape="rect"/>
</map>
<img border="0" src="images/COCD_TP145018UK03.png" usemap="#rmim0"/>
</body>
</html>
