<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      <title>Consent</title>
      
   </head>
   
   <body>
      
      <h1>Consent (COCD_TP146226GB01)</h1>
      
      <p>Date: 2011-05-10 21:29:28</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP146226GB01-NoEdit.htm#Consent" coords="0, 88, 283, 203" shape="rect"></area>
         
         <area href="COCD_TP146226GB01-NoEdit.htm" coords="89, -3, 203, 84" shape="rect"></area></map> <img border="0" src="images/COCD_TP146226GB01.png" usemap="#rmim0"></img>
      
   </body>
   
</html>