<html xmlns="http://www.w3.org/1999/xhtml">
   
   <head>
      
      
      
      <title>RelatedEntity</title>
      
   </head>
   
   <body>
      
      <h1>RelatedEntity (COCD_TP145007UK04)</h1>
      
      <p>Date: 2011-05-24 13:58:11</p>
      <map name="rmim0" id="rmim0">
         
         <area href="COCD_TP145007UK04-NoEdit.htm#RelatedEntity" coords="0, 85, 316, 186" shape="rect"></area>
         
         <area href="COCD_TP145007UK04-NoEdit.htm#Person" coords="316, 193, 642, 268" shape="rect"></area>
         
         <area href="COCD_TP145007UK04-NoEdit.htm" coords="77, -3, 224, 81" shape="rect"></area></map> <img border="0" src="images/COCD_TP145007UK04.png" usemap="#rmim0"></img>
      
   </body>
   
</html>