<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>IncidentalHealthCareFacilityUniversal Tabular View</title><script language="JavaScript1.2">
				
var isNew=0;
var isNS4=0;
var isIE4=0;

var brow=((navigator.appName) + (parseInt(navigator.appVersion)));

//alert(brow);
if (parseInt(navigator.appVersion)>=5)
{
	isNew=1
}
else
{
	if(brow=="Netscape4")
	{
		isNS4=1;
		document.captureEvents(Event.ONMOUSEOVER);
	}
	else
	{
		if(brow=="Microsoft Internet Explorer4")
		{
			isIE4=1;
		}
	}
		
}

// thats ok


if(isNS4||isIE4||isNew)
{
	docObj=(isNS4) ? 'document' : 'document.all';
	
	styleObj=(isNS4) ? ' ' : '.style';
}

function checkDOM(elementName)
{
	if(isNS4||isIE4||isNew)
	{
		dom=eval(docObj + '.' + elementName + styleObj);
		//alert('This browser uses the ' + dom + 'Document Object Model.');
		dom.left =0;
		dom.top =0;
	}
}

function popUp(evt,currElem)
{

	if((isNS4 && currElem !=0) || (isIE4 && currElem !=0))
	{
		dom =eval(docObj +'.' +currElem+styleObj);
		state=dom.visibility;
		if ((state == "visible") || (state=="show"))
		{
			dom.visibility="hidden";
		}
		else
		{
			if(isNS4)
			{
				topVal=eval(evt.pageY);
				leftVal=eval(evt.pageX);
				/*if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}*/

			}
			if(isIE4)
			{
				topVal=eval(event.clientY)  + document.body.scrollTop+20;
				leftVal=eval(event.clientX) + document.body.scrollLeft;
				
				if(((document.body.scrollLeft+document.body.clientWidth)-leftVal)< 150)
				{
					leftVal=(document.body.clientWidth+document.body.scrollLeft-151);
				}
				if(((document.body.scrollTop+document.body.clientHeight)-topVal)< 30)
				{
					topVal=(document.body.clientHeight+document.body.scrollTop-80);
				}
			}
			if(leftVal < 2)
			{
				leftVal=2;
			}
			dom.top=topVal;
			dom.left=leftVal;
			dom.visibility="visible";
		}
	}
}

</script><style>
#ds
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}
#cwe
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#cne
{
	position: absolute;
	visibility: hidden;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#maindiv {
	overflow: auto; 
	width: 100%; 
	height: 90%; 
	}


.hypertext
{
	position: absolute;
	background-color: white;
	layer-background-colour: cornflowerblue;
	padding: 3px;
	border: 3px solid blue;
	width: 150px;
	font:normal 10pt/13pt helvetica, sans-serif;
	text-align: left;
	color: blue;
}

.actclass
{
	background-color: red;
}

.entclass
{
	background-color: lightgreen;;
}

.roleclass
{
	background-color: yellow;;
}
.otherclass
{
	background-color: blue;
}
.choiceclass
{
	background-color: gray;
}
.actrelclass
{
	background-color: pink;
}
.partclass
{
	background-color: cyan;
}
.rolelinkclass
{
	background-color: lightyellow;
}
TABLE {
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid black;
	border-width: 3px 1px;
}
.part td
{
	border-width: 2px 1px;
	border-color: gray;
	border-style: solid;
}
.class td
{
	border-width: 3px 1px;
	border-color: black;
	border-style: solid;
}


</style></head>
   <body onload="checkDOM('ds')">
      <h1>IncidentalHealthCareFacilityUniversal - tabular view</h1><span id="ds" class="hypertext">No Current Link To Vocabulary</span><span id="cwe" class="hypertext">Coded With Extensions</span><span id="cne" class="hypertext">Coded No Extensions</span><table frame="vsides" rules="cols" cellpadding="2" cellspacing="0">
         <tr class="class">
            <td height="35"><a href="COCD_TP145222GB02.htm"><b>COCD_TP145222GB02</b></a></td>
            <td height="35" nowrap="yes"></td>
         </tr>
         <tr valign="top" class="class">
            <td class="roleclass"><a name="HealthCareFacility"><b>HealthCareFacility</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <b>A template to identify<b> the incidental healthcare facility where the encompassing encounter took place, or with which the encompassing encounter
                           is associated.</b>
                        </b>
                     
                  </p>
                  
                  <p>
                     <b>This class carries the incidental healthcare facility details. </b>
                     
                  </p>
                  
                  <p>
                     <b>Incidental healthcare facilities are locations where healthcare is given in a location which is not designed for the purpose.
                        Examples are the scene of a road traffic accident, a public place where someone has collapsed etc... </b>
                     
                  </p>
                  
                  <p>
                     <b>Note that that telephone advice or guidance is classified as healthcare. <br>
                        </b>
                     
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr class="mif">
            <td align="right" width="50%"></td>
            <td><font color="gray">Used by: </font><a href="#"><b></b></a></td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>RoleClass</b></a> } )<br> {<b> Fixed="<font color="red">ISDLOC</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>classCode</b> describes this class as an incidental service delivery location.<br>
                     
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance </b>
                        </u>
                     <br>
                     
                     
                  </p> The XML attribute <b>classCode</b> is fixed to "<font color="#ff0000">
                     <b>ISDLOC</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[0..1] </b></font><b>code</b> (<a href="../../../Data Types/DataTypes.htm#CV"><b>CV</b></a> {<a onmouseout="popUp(event,'cwe')" onmouseover="popUp(event,'cwe')"><b>CWE</b></a>:<a href="../../../Vocabulary/IncidentalLocationTypeSnCT.htm" target="_top"><b>IncidentalLocationTypeSnCT</b></a> } )
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div>
                     <u>
                        <b>Model Attribute Description</b>
                        </u>
                     
                     <p>The HL7 attribute <b>code</b> uses a code from the <b>IncidentalLocationTypeSnCT</b> vocabulary or an alternative to describe the type of incidental service delivery location.                              
                        
                     </p>
                     
                     <p>
                        <u>
                           <b>Implementation in XML Instance</b>
                           </u>
                        
                     </p>
                     
                     <p>When using the <b>IncidentalLocationTypeSnCT</b> vocabulary then: 
                     </p>
                     
                     <p>The <b>Coded Plain</b> flavour of the <b>Coded Value</b> (CV) data type shall be used to carry this information in the XML element <b>code</b> as follows:
                     </p>
                     
                     <ul>
                        
                        
                        <li>The XML attribute <b>code</b> shall contain the <font color="#000000">code from the </font>
                           <b>IncidentalLocationTypeSnCT</b> vocabulary                                                  
                        </li>
                        
                        <li>The XML attribute <b>codeSystem</b> shall contain the OID "<b>
                              <font color="#ff0000">2.16.840.1.113883.2.1.3.2.4.15</font>
                              </b>"                                                                        
                        </li>
                        
                        <li>The XML attribute <b>displayName</b> shall carry the description associated with the code in the <b>IncidentalLocationTypeSnCT </b>vocabulary.It is recommended that the preferred term is used to populate this attribute.<br>
                           
                        </li>
                        
                     </ul>
                     
                     <p>When using an alternative vocabulary and an OID is available then: </p>
                     
                     <p>The <b>Coded Plain</b> flavour of the <b>Coded Value</b> (CV) data type shall be used to carry this information in the XML element <b>code</b> as follows:
                     </p>
                     
                     <ul>
                        
                        
                        <li>The XML attribute <b>code</b> shall contain the <font color="#000000">code from the </font>vocabulary                                                  
                        </li>
                        
                        <li>The XML attribute <b>codeSystem</b> shall contain the OID for the vocabulary                                                                        
                        </li>
                        
                        <li>The XML attribute <b>displayName</b> shall carry the description associated with the code in vocabulary.
                        </li>
                        
                     </ul>
                     
                     <p>When using an alternative vocabulary and an no OID is available then: </p>
                     
                     <p>The <b>Coded Plain</b> flavour of the <b>Coded Value</b> (CV) data type shall be used to carry this information in the XML element <b>code</b> as follows:
                     </p>
                     
                     <ul>
                        
                        
                        <li>The XML attribute <b>code</b> shall contain the <font color="#000000">code from the </font>vocabulary                                                  
                        </li>
                        
                        
                        <li>The XML attribute <b>codeSystem</b> shall contain the OID "<font color="#ff0000">
                              <b>2.16.840.1.113883.2.1.3.2.4.17.410</b>
                              </font>"<br>
                           
                        </li>
                        
                        <li>The XML attribute <b>displayName</b> shall carry the description associated with the code in vocabulary.
                        </li>
                        
                     </ul>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..3] </b></font><font color="green"><b> [R] </b></font><b>id</b> (<a href="../../../Data Types/DataTypes.htm#SET"><b>SET</b></a><b>&lt;<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>&gt;</b>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description</b>
                        </u>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>id</b> uses identifiers to identify the Ordnance survey or Royal Mail identifiers.
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance</b>
                        </u>
                     
                  </p>
                  
                  <p>When identifier is available then -</p>
                  
                  <p>The first XML element id is Mandatory and as populated as below:</p>
                  
                  <ul style="font-family: 'Times New Roman'; font-size: medium">
                     
                     
                     <li>The XML attribute <b>root</b> shall contain the OID "<font color="#ff0000">
                           <b>2.16.840.1.113883.2.1.3.2.4.18.41</b>
                           </font>"
                     </li>
                     
                     <li>The XML attribute <b>extension</b> shall contain the Unique Property Reference Number
                     </li>
                     
                  </ul>
                  
                  <p style="font-family: 'Times New Roman'; font-size: medium">Second XML element id if available is populated as below:</p>
                  
                  <ul style="font-family: 'Times New Roman'; font-size: medium">
                     
                     
                     <li>The XML attribute <b>root</b> shall contain the OID "<font color="#ff0000">
                           <b>2.16.840.1.113883.2.1.3.2.4.18.42</b>
                           </font>"
                     </li>
                     
                     <li>The XML attribute <b>extension</b> shall contain the Unique identifier provided by Ordnance Survey
                     </li>
                     
                  </ul>
                  
                  <p style="font-family: 'Times New Roman'; font-size: medium">Third XML element id if available is populated as below:</p>
                  
                  <ul style="font-family: 'Times New Roman'; font-size: medium">
                     
                     
                     <li>The XML attribute <b>root</b> shall contain the OID "<font color="#ff0000">
                           <b>2.16.840.1.113883.2.1.3.2.4.18.43</b>
                           </font>"
                     </li>
                     
                     <li>The XML attribute <b>extension</b> shall contain the Royal Mail Unique Delivery Point Reference Number
                     </li>
                     
                  </ul>
                  
                  <div>
                     <span style="font-family: 'Times New Roman'; font-size: medium">When the id element is not available then c</span>
                     <span style="font-family: 'Times New Roman'; font-size: medium">an appropriate XML attribute </span>
                     <b style="font-family: 'Times New Roman'; font-size: medium">nullFlavor </b>
                     <span style="font-family: 'Times New Roman'; font-size: medium">of the XML element</span>
                     <b style="font-family: 'Times New Roman'; font-size: medium"></b>
                     <span style="font-family: 'Times New Roman'; font-size: medium"></span>
                     <b style="font-family: 'Times New Roman'; font-size: medium">"NA"</b>
                     <span style="font-family: 'Times New Roman'; font-size: medium"> is used.</span>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP145222GB02#HealthCareFacility</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div contenteditable="false" style="height: 100%; width: 100%">
                        
                        <div contenteditable="false" style="height: 100%; width: 100%">
                           <u>
                              <b>Model Attribute Description</b>
                              </u>
                           <br>
                           <br>The HL7 attribute <b>templateId</b> provides a unique identifier for the template and the class name within that template. This is used to identify how the CDA
                           standard has been constrained for NHS use.<br>
                           <br>
                           <u>
                              <b>Implementation in XML Instance</b>
                              </u>
                           <br>
                           <br>The <b>Identifier External </b>data type flavour is used to carry this information in the XML element <b>templateId</b> as follows:<br>
                           
                           <ul>
                              
                              
                              <li>The XML attribute <b>root</b> is fixed to the OID "<font color="#ff0000">
                                    <b>2.16.840.1.113883.2.1.3.2.4.18.2</b>
                                    </font>"                                                                           
                              </li>
                              
                              
                              <li>The XML attribute <b>extension</b> is fixed to "<font color="#ff0000">
                                    <b>COCD_TP145222GB02#HealthCareFacility</b>
                                    </font>"                                                                           
                              </li>
                              
                           </ul>
                           
                        </div>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[0..1] </b></font><b><a id="HealthCareFacility/location"></a>location</b> (<a href="#Place"><b>Place</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>A link to the place.</p>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="class">
            <td class="entclass"><a name="Place"><b>Place</b></a></td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div>
                     
                     <p>
                        <b>Details of the actual place which is the location.</b>
                        
                     </p>
                     
                     <p>
                        <b>Note when this class is used at least one of either name or addr attributes shall be used. </b>
                        
                     </p>
                     <b>This class should only be used to further define the incidental service delivery location when required.  </b>
                     
                     <p>
                        <br type="_moz">
                        
                     </p>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr class="mif">
            <td align="right" width="50%"></td>
            <td><font color="gray">Used by: </font><a href="#HealthCareFacility"><b>HealthCareFacility</b></a></td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>classCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityClass</b></a> } )<br> {<b> Fixed="<font color="red">PLC</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>classCode</b> describes this class as a place.<br>
                     
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance </b>
                        </u>
                     <br>
                     
                     
                  </p> The XML attribute <b>classCode</b> is fixed to "<font color="#ff0000">
                     <b>PLC</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>determinerCode</b> (<a href="../../../Data Types/DataTypes.htm#CS"><b>CS</b></a> {<a onmouseout="popUp(event,'cne')" onmouseover="popUp(event,'cne')"><b>CNE</b></a>:<a target="_top"><b>EntityDeterminer</b></a> } )<br> {<b> Fixed="<font color="red">INSTANCE</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description  </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>determinerCode</b> describes this class as an instance of a place.<br>
                     
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance  </b>
                        </u>
                     <br>
                     
                     
                  </p>                                      The XML attribute <b>determinerCode</b> is fixed to "<font color="#ff0000">
                     <b>INSTANCE</b>
                     </font>".
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [R] </b></font><b>addr</b> (<a href="../../../Data Types/DataTypes.htm#AD"><b>AD</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <p>
                        <u>
                           <b>Model Attribute Description</b>
                           </u>
                        <br>
                        
                     </p>
                     
                     <p>The HL7 attribute uses an address for the place.<br>
                        
                     </p>
                     
                     <p>The HL7 attribute <b>addr</b> allows structured and unstructured<b> addresses</b> to be carried. Only a structured address is recommended to be used.                    
                     </p>
                     
                     <p>
                        <u>
                           <b>Implementation in XML Instance</b>
                           </u>
                        
                     </p>
                     
                     <p>           There are a number of forms of structured address. The three shown here are the recommended formats for this address;
                        they are listed in no particular order.                   
                     </p>
                     
                     <p>The XML element <b>addr</b> is populated as follows: <br>
                        
                     </p>
                     
                     <p>When using the structured address in the style of PDS the XML element <b>addr</b> shall contain five XML elements <b>streetAddressLine</b>. <br>
                        
                     </p>
                     
                     <ul>
                        
                        <li>The first XML element <b>streetAddressLine</b> shall contain the premises name<br>
                           
                        </li>
                        
                        <li>The second XML element <b>streetAddressLine</b> shall contain the number and thoroughfare                      
                        </li>
                        
                        <li>The third XML element <b>streetAddressLine</b> shall contain the locality                      
                        </li>
                        
                        <li>The fourth XML element <b>streetAddressLine</b> shall contain the post town                      
                        </li>
                        
                        <li>The fifth XML element <b>streetAddressLine</b> shall contain the county                      
                        </li>
                        
                     </ul>
                     
                     <p> The first XML element <b>streetAddressLine</b> or the second XML element <b>streetAddressLine</b> and the fourth XML element <b>streetAddressLine</b> are mandatory to be populated.<br>
                        
                     </p>
                     
                     <ul>
                        
                        <li>  The XML element <b>postalCode</b> can be used to carry a postcode<br>
                           
                        </li>
                        
                        <li>The XML element <b>addressKey</b> can be used to carry a PAF key<br>
                           
                        </li>
                        
                     </ul>
                     
                     <p>When using the fully structured address format then the XML element <b>addr </b>shall be populated as follows:                     
                     </p>
                     
                     <ul>
                        
                        <li>The XML element<b> houseNumber</b> shall contain the house/building number or name<br>
                           
                        </li>
                        
                        <li>The XML element <b>streetName</b> shall contain the street name<br>
                           
                        </li>
                        
                        <li>The XML element <b>city</b> shall contain the city name<br>
                           
                        </li>
                        
                        <li>The XML element <b>county</b> shall contain the county                      
                        </li>
                        
                        <li>The XML element <b>country</b> shall contain the country name<br>
                           
                        </li>
                        
                        <li>The XML element <b>postalCode</b> shall contain the postcode                      
                        </li>
                        
                        <li>The XML element <b>addressKey</b> shall contain the address key                      
                        </li>
                        
                     </ul>
                     
                     <blockquote>
                        
                        <p> Note that unpopulated XML elements should not be present.<br>
                           
                        </p>
                        
                     </blockquote>
                     
                     <p>Alternatively the structured address may contain just a series of XML elements  <b>streetAddressLine</b> populated in the correct order to render as a postal address with as much information as available included.<br>
                        
                     </p>
                     
                     <ul>
                        
                        <li>The first XML element <b>streetAddressLine</b> shall contain the first address line <br>
                           
                        </li>
                        
                        <li>The second XML element <b>streetAddressLine </b>shall contain the second address line                        
                        </li>
                        
                        <li>The third XML element <b>streetAddressLine </b>shall contain the third address line                        
                        </li>
                        
                        <li>and so on ....</li>
                        
                     </ul>
                     
                     <blockquote>
                        
                        <p> Note that unpopulated XML elements should not be present.</p>
                        
                     </blockquote>
                     
                     <p>The XML element <b>addr</b> also allows an XML attribute <b>use</b>  and this should be used to further define the  address type  when required. Only the use values listed below are recommended
                        to be used for this address.                   
                     </p>
                     
                     <table align="center" border="1" width="90%">
                        
                        <tbody>
                           
                           <tr>
                              
                              <th>Code <br>
                                 
                              </th>
                              
                              <th>Definition <br>
                                 
                              </th>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>WP</b>
                                 
                              </td>
                              
                              <td>Work place - An office address. First choice for business related contacts during business hours.  </td>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>TMP</b>
                                 
                              </td>
                              
                              <td>Temporary address - A temporary address; may be good for visit or mailing.<br>
                                 
                              </td>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>PHYS</b>
                                 
                              </td>
                              
                              <td>Physical visit address - Used primarily to visit an address.</td>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>H</b>
                                 <br>
                                 
                              </td>
                              
                              <td>Home address - The person's home address;  attempted contacts for business  purposes might intrude privacy and  chances are
                                 one will                      contact  family or other household members instead  of the person one wishes to  call. Typically
                                 used with urgent cases, or  if                       no other contacts are available.                                    
                                 
                              </td>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>HP</b>
                                 <br>
                                 
                              </td>
                              
                              <td>The primary home address - An address to reach a person after business hours.                   </td>
                              
                           </tr>
                           
                           <tr>
                              
                              <td>
                                 <b>HV</b>
                                 <br>
                                 
                              </td>
                              
                              <td>A vacation home - An address to reach a person while on vacation.                   </td>
                              
                           </tr>
                           
                        </tbody>
                        
                     </table>
                     
                     <p>When the XML attribute<b> use </b>of the XML element <b>addr</b> contains the value <b>"PHYS" </b>then the following two XML elements of the XML element <b>addr</b> may be populated.                   
                     </p>
                     
                     <ul>
                        
                        <li>The XML element <b>desc</b> of the XML element <b>addr</b> may contain a description of the address; this may be used for things like directions for the address                   
                           
                        </li>
                        
                        <li>The XML element <b>additionalLocator</b> of the XML element <b>addr</b> may contain additional location information such as longitude and latitude coordinates<br>
                           
                        </li>
                        
                     </ul>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [R] </b></font><b>name</b> (<a href="../../../Data Types/DataTypes.htm#TN"><b>TN</b></a>)
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <p>
                     <u>
                        <b>Model Attribute Description   </b>
                        </u>
                     <br>
                     
                  </p>
                  
                  <p>The HL7 attribute <b>name</b> is used when the place has a name. 
                  </p>
                  
                  <p>
                     <u>
                        <b>Implementation in XML Instance   </b>
                        </u>
                     
                  </p>
                  
                  <p>The XML element <b>name </b>shall contain a string which is the name of the place
                  </p>
                  
                  
                  <p>When the name is not available, then the XML attribute <b>nullFlavor</b> of the XML element <b>name</b> should carry the value "<font color="#ff0000">
                        <b>NI</b>
                        </font>". 
                  </p>
                  
                  
                  <p>When the XML element <b>addr</b> is used instead because the place does not have a <b>name</b>, then the XML attribute <b>nullFlavor</b> of the XML element <b>name</b> should carry the value "<font color="#ff0000">
                        <b>NA</b>
                        </font>".<br>
                     
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr valign="top" class="part">
            <td width="50%"><font color="green"><b>[1..1] </b></font><font color="green"><b> [M] </b></font><b>templateId</b> (<a href="../../../Data Types/DataTypes.htm#II"><b>II</b></a>)<br> {<b> Fixed="<font color="red">COCD_TP145222GB02#location</font>"</b> }
            </td>
            <td width="50%">
               <div style="height: 100%; width: 100%;" contenteditable="false">
                  
                  <div contenteditable="false" style="height: 100%; width: 100%">
                     
                     <div id="COCD_TP145001UK03.Role.AssignedAuthorSDS/$templateId">
                        <u>
                           <b>Model Attribute Description</b>
                           </u>
                        <br>
                        <br>The HL7 attribute <b>templateId</b> provides a unique identifier for the template and the class name within that template. This is used to identify how the CDA
                        standard has been constrained for NHS use.<br>
                        <br>
                        <u>
                           <b>Implementation in XML Instance</b>
                           </u>
                        <br>
                        <br>The <b>Identifier External</b> data type flavour is used to carry this information in the XML element <b>templateId</b> as follows:<br>
                        
                        <ul>
                           
                           
                           <li>    The XML attribute <b>root</b> is fixed to the OID "<font color="#ff0000">
                                 <b>2.16.840.1.113883.2.1.3.2.4.18.2</b>
                                 </font>"                         
                           </li>
                           
                           
                           <li>    The XML attribute <b>extension</b> is fixed to "<font color="#ff0000">
                                 <b>COCD_TP145222GB02#location</b>
                                 </font>"                         
                           </li>
                           
                        </ul>
                        
                     </div>
                     
                  </div>
                  
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>