<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Nullification: Constraints Usage</title>
</head>

<!-- Framework CSS -->
<link rel="stylesheet" href="../../../Core/Stylesheets/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="../../../Core/Stylesheets/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
<link rel="stylesheet" href="../../../Core/Stylesheets/ie.css" type="text/css" media="screen, projection">
<![endif]-->
</head>
<body>
<div class="d-mim-container">
	<div id="banner">
		<div class="d-mim-span-6 d-mim-left">
			<img src="../../../Core/ImageFiles/CorporateLogoImage.png"/>
		</div>
		<div class="d-mim-span-12">
			<h1><a name=_Toc_Section_></a>Nullification<br>Domain 
			Message Specification</h1>
		</div>
		<div class="d-mim-span-6 d-mim-last">
			<img src="../../../Core/ImageFiles/CorporateLogoText.jpg" class="d-mim-right">
		</div>
	</div>
		<div id="navigation">
		<div id="status">Version: 2.1; Status: RC1</div>
		<ul class="tabs level0">
			<li>
			<a href="../../../Index.htm" title="Overview">
			Overview</a></li>
			<li>
			<a href="../../Nullification/Document%20files/IM.htm" title="Message Definitions">
			Message Definitions</a>
			<li class="selected">
			<a href="../../../Core/References.htm" title="References">
			References</a></li>

			<li>
			<a href="../../../Core/Glossary.htm" title="Glossary">
			Glossary</a></li>
		</ul>				
		<ul class="tabs level1">
			<li>
				<a title="Data Types" href="../../../Data Types/DataTypesIndexPage.htm">Data Types</a>     
			</li>
			<li class="selected">
				<a title="Constraints" href="NullificationConstraintReference.htm">Constraint Usage</a>      
			</li>
			<li>
				<a title="Templates Usage" href="NullificationTemplateReference.htm">Templates Usage</a>      
			</li>
<li>
				<a title="Vocabulary" href="../../../Vocabulary/VocabularyIndexPage.htm">Vocabulary</a>    
			</li>

		</ul>

	</div>
	         <div id="content">
         	<div class="section">
         			<div class="section1_1">
            <h2><span style="font-style: normal">Constraint Usage</span></h2>
	<h2>Contents</h2><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_1">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800008_Role</a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_2">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800007_Role</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800016_Role</a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_4">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800019_Role</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800014_Role</a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_6">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800024_Role</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_7">7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800032_Section</a><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_8">8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800001_Section</a><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#_Toc_Section_9">9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPFIT-800017_Section</a></div>
         <hr>
         <div class="section1_2">
            <h2><a name="_Toc_Section_1"></a>&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800008_Role.htm" target="_blank">NPFIT-800008#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#RecipientChoice" target="_blank">
						RecipientChoice</a></td>
                  </tr>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#RecipientChoice" target="_blank">
						RecipientChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_2"></a>&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800007_Role.htm" target="_blank">NPFIT-800007#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#AuthorChoice" target="_blank">
						AuthorChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_3"></a>&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800016_Role.htm" target="_blank">NPFIT-800016#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#DataEntererChoice" target="_blank">
						DataEntererChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_4"></a>&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800019_Role.htm" target="_blank">NPFIT-800019#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#Patient" target="_blank">
						Patient</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_5"></a>&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800014_Role.htm" target="_blank">NPFIT-800014#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#CustodianChoice" target="_blank">
						CustodianChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_6"></a>&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800024_Role.htm" target="_blank">NPFIT-800024#Role</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#AuthenticatorChoice" target="_blank">
						AuthenticatorChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_7"></a>&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800032_Section.htm" target="_blank">NPFIT-800032#Section</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#CRETypeListChoice" target="_blank">
						CRETypeListChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_8"></a>&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800001_Section.htm" target="_blank">NPFIT-800001#Section</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#SectionChoice" target="_blank">
						SectionChoice</a></td>
                  </tr>
               </tbody>
            </table>
            <div></div>
            <hr>
            <h2><a name="_Toc_Section_9"></a>&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Constraint :
               			<a href="NPFIT-800017_Section.htm" target="_blank">NPFIT-800017#Section</a>
               			&nbsp;&nbsp;[ version : 1.0 ] &nbsp;&nbsp;[ status : Active ]
            </h2>
            <table>
               <thead class="templateheader">
                  <tr>
                     <td style="width: 20%">Domain</td>
                     <td style="width: 15%">Model</td>
                     <td style="width: 40%">Description</td>
                     <td style="width: 25%">Class</td>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Nullification</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_RM130001UK05.htm" target="_blank">
						POCD_RM130001UK05</a></td>
                     <td>NullifyDocument</td>
                     <td>
						<a href="../../Nullification/Tabular%20View/POCD_HD130001UK05-NoEdit.htm#CodedEntry" target="_blank">
						CodedEntry</a></td>
                  </tr>
               </tbody>
            </table>
            </div>
            <hr>
         </div>
      </div>
<div id="footer">
	<div class="d-mim-span-8">Document Ref: NPFIT-FNT-TO-DSD-0220</div>
	<div class="d-mim-span-8">CFH Interoperability Team:
		<a href="mailto:CFH.interoperabilityteam@nhs.net">Contact Us</a></div>
	<div class="d-mim-span-8 d-mim-last">Release Date: 20-Jan-2012</div></div>



</body>

</html>
