<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000050_Act</title>
   </head>
   <body>
      <p><b>Description: </b> : 
         							
         <p xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">Service EventTemplates</p>
      </p>
      <p><b>Constraint Id: </b>NPFIT-000050#Act
      </p>
      <p><b>Version: </b>1.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP146227GB01.htm" usemap="#rmim0" shape="rect" coords="24,24,384,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000050_Act.png"></body>
</html>