<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>NPFIT-000089_Role</title>
   </head>
   <body>
      <p><b>Description: </b> : 
         							<font xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" color="black">Encompassing Encounter Participant Templates</font><br xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"></p>
      <p><b>Constraint Id: </b>NPFIT-000089#Role
      </p>
      <p><b>Version: </b>1.0
      </p><map name="rmim0">
         <area href="../Tabular View/COCD_TP145210GB01.htm" usemap="#rmim0" shape="rect" coords="24,24,384,96">
         <area href="../Tabular View/COCD_TP145212GB02.htm" usemap="#rmim0" shape="rect" coords="408,24,768,96"></map><img border="0" usemap="#rmim0" src="images/NPFIT-000089_Role.png"></body>
</html>